<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%p [%t] %c{1}.%M(%L) | %m%n"/>
        </Console>
        <RollingRandomAccessFile name="ROLLFILE" fileName="${sys:catalina.home}/logs/telap.log"
								 filePattern="$${sys:catalina.home}/logs/$${date:yyyy-MM}/telap-%d{yyyy-MM-dd}-%i.log.gz">
			<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="%d{ABSOLUTE} &lt;%c&gt; %5p [%t]: %m%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy />
		</RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="org.apache" level="DEBUG" />
        <Logger name="org.hibernate" level="DEBUG" />
        <Logger name="org.hibernate.SQL" level="DEBUG"/>
        <Logger name="org.springframework" level="DEBUG" />
		<Logger name="java.sql" level="DEBUG" />
		<Logger name="org.telap" level="DEBUG" additivity="false">
			<AppenderRef ref="ROLLFILE" />			
		</Logger>
    </Loggers>
</Configuration>